<%- include("includes/admin/head") %>

<div class="container">
    <h1 class="alert-danger">
        Algo deu errado, verifique a imagem e tente novamente.
    </h1>
</div>

<%- include("includes/footer") %>